.post-conteudo {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap; 
    
}

.post-conteudo img {
    height: 250px;
    width: 300px;
}

.img{
    display: inline-block;
}

div h5{
    margin-left: 10%;
}

