.container {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    display: grid;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 40px auto auto;
}

.cabecalho { 
    background: #ffffff;;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: cabecalho;
    background: grey;
    padding-left: 1rem;
    padding-right: 1rem;
}

.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;  
    background: #333333;    

}

.rodape {
    grid-area: rodape;
    text-align: center;
    background: grey;   
    
}

.video__conteudo {    
    grid-area: conteudo;
    display:flex;
    flex-wrap: wrap;
    padding: 1rem 0 310px 0;
    
}

.video__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: "card-imagem";
    grid-template-columns: 100%;    
}

.imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.card__titulo {
    text-align: center;
    
}

.video {
    height: 87.5vh;
}

.nome__video {
    color: #fdfdfd;
}

